*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}
.containe ;
}
.container .flex{
    display: flex;
}
.container .flex .create{
    position: relative;
}
.container .flex  header{
    width: 100px;
    padding: 50px;
    float: right;
    font-size: large;
}
.container .flex .parent header {
    padding: 50px;
    float: right;
}
.container .flex .parent .create header{
    float: right;
}
.container footer{
    text-align: center;
    font-size: x-large;
    height: 50vh;
    width: 100vh;
    position: absolute;
} 