*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
header{
    padding: 50px;
    width: 100%;
    background-color: blue;
}
.container .flex{
    display: flex;
}
.container .flex nav{
    padding: 50px;
    width: 100%;
    background-color: brown;
}
.container main article{
    padding: 50px;
    display: block;
    width: 900px;
    background-color: coral;
}
.container footer{
    padding: 50px;
    width: 100%;
    display: block;
    background-color: lime;
}